<nav class="navbar navbar-dark navbar-expand-lg bg-dark sticky-top pb-0 mb-1">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img class="d-inline-block align-text-top" src="/catoicon.png" alt="">
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">        
        <a class="nav-link" href="/posts">Posts</a>
        <a class="nav-link" href="/posts/new">New Post</a>
      </div>
      <div class="navbar-nav ms-auto me-4">
        <% if(!user) {%>
        <a class="nav-link" href="/login">Login</a>
        <a class="nav-link" href="/register">Register</a>
        <%} else{ %>
          <a class="nav-link" href="/users/<%= user._id.toString() %> "><%= user.username %></a>
        <form action="/logout" method="POST">
          <button class="btn nav-link">Logout</button>
        </form>
        <% } %>
      </div>
    </div>
  </div>
</nav>
