<nav class="navbar navbar-dark navbar-expand-lg bg-dark sticky-top mb-1">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" aria-current="page" href="/">Home</a>
        <a class="nav-link" href="/posts">Posts</a>
        <a class="nav-link" href="/posts/new">New Post</a>
      </div>
      <div class="navbar-nav ms-auto me-4">
        <% if(!user) {%>
        <a class="nav-link" href="/users/login">Login</a>
        <a class="nav-link" href="/users">Register</a>
        <%} else{ %>
        <form action="/users/logout" method="POST">
          <button class="btn nav-link">Logout</button>
        </form>
        <% } %>
      </div>
    </div>
  </div>
</nav>
