a {
  color: #00b7ff;
  text-decoration: none;
}
.crop-text-4lines {
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.navbar-brand img {
  width: 2rem;
  height: 2rem;
}