<% layout('./layout/boilerplate') -%> <% const {title,body,author,image}=foundPost %>
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="card col-6">
      <img src="<%=image.url%>" class="img-fluid card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title"><%= title %></h5>
        <p class="card-text"><%= body %></p>
      </div>
    </div>
  </div>
</div>
