<div class="row justify-content-evenly">
    <% for(let follower of foundUser.followers) {%> 
      <div class="col-md-2 col-3 px-1 mx-1 text-center">
        <img class=" img-fluid" src="<%= follower.avatar.thumbnail %> " alt="">
        <a href="/users/<%= follower.id %> "><span><%= follower.username %> </span></a>
      </div>
      <% } %> 
  </div>